{% extends "admin/bars.html.twig" %}

{% block contenpage %}



    {%for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{message}}
        </div>    
    {% endfor %}
    <h2>Reponse </h2>

    <table id="example" class="display table table-striped table-bordered dataminetables">
        <thead>
            <tr>
                
                
                <th>description</th>
                <th>date debut</th>
                <th>date fin</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
        {% for reponse in reponse %}
            <tr>
                
                
                <td>{{ reponse.description }}</td>
                <td>{{ reponse.datedebut | date('Y-m-d')}}</td>
                <td>{{ reponse.datedebut| date('Y-m-d') }}</td>
                <td>
                    <a href="{{path ('delete',{id:reponse.id})}}" class="btn btn-dark">Supprimer </a>
                    
                   </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br>
   
{% endblock %}
