{% block contenpage %}
    <h2>Reclamation </h2>

    <table id="reclamation" class="display table table-striped table-bordered dataminetables">
        <thead>
            <tr>
                
                <th>description</th>
                <th>Titre</th>
                 <th>nom</th>
                <th>prenom</th>
                <th>Statut</th>
                <th>type</th>
                <th>created_At</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamation %}
            <tr>
                
               
                <td>{{ reclamation.description }}</td>
                <td>{{ reclamation.titre }}</td>
                 <td>{{ reclamation.nom }}</td>
                  <td>{{ reclamation.prenom }}</td>
                  <td>
                  {% if reclamation.Statut == 0 %}
                    <div class="badge badge-danger">No Reponse</div>
                  {% else %}
                    <div class="badge badge-success">Reponse</div>
                  {% endif %}
                  </td>
                  <td>
                   {% if reclamation.type == 'elevee' %}
                    <div class="badge badge-danger">elevee</div>
                  {% elseif reclamation.type == 'moyenne' %}
                    <div class="badge badge-warning">moyenne</div>
                  {% else  %}
                    <div class="badge badge-success">faible</div>
                  {% endif %}
                  </td>
                  <td>
                  {{reclamation.createdAt | date('Y-m-d')}}
                  </td>
                <td>
                  <i><a href="{{ path('reclamation_show', {'id': reclamation.id}) }}" class="btn btn-dark">show</a></i>  
                  <i><a href="{{ path('reponse_new', {'id': reclamation.id}) }}" class="btn btn-dark">repondre</a></i>  
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 {% endblock %}
 


