{% extends "admin/bars.html.twig" %}

{% block contenpage %}




    <h1>Reclamation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reclamation.id }}</td>
            </tr>
            <tr>
           
                <th>Titre</th>
                <td>{{ reclamation.titre }}</td>
            </tr>
             
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ reclamation.description }}</td>
            </tr>
            <tr>
                <th>nom</th>
                <td>{{ reclamation.nom }}</td>
            </tr>
            <tr>
                <th>prenom</th>
                <td>{{ reclamation.prenom }}</td>
            </tr>
           
        </tbody>
    </table>






<form>
 
  
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Reponse :</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>

  <button type="button" class="btn btn-primary">Repondre</button>
</form>




    <a href="{{ path('reclamation_index') }}">back to list</a>

    <a href="{{ path('reclamation_edit', {'id': reclamation.id}) }}">edit</a>

    {{ include('reclamation/_delete_form.html.twig') }}
    
{% endblock %}
