{% extends "admin/bars.html.twig" %}


{% block contenpage %}

    <h1>Comment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Publishedat</th>
                <th>supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.publishedat ? comment.publishedat|date('Y-m-d H:i:s') : '' }}</td>
                <td>

                    {{ include('comment/delete_commentbyadmin.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_comment_new') }}">Create new</a>
{% endblock %}
