{% for event in evenement %}
    <div class="col-md-4 crossfit-col">
        <div class="crossfit-item">
            <img class="rx-lazy" src="{{ asset('/uploads/images/') ~event.image}}" style="width: 150px; height: 150px;" data-src="assets/img/serv-1.svg" alt="img">
            <h3>{{ event.Nom }}</h3>
            <p>{{ event.description}}</p>
            <p style="color: #FFFFFF">{{ event.Date}}</p>
            <p style="color: #FFFFFF">{{ event.type}}</p>
            <p style="color: #FFFFFF">{{ event.lieu}}</p>
            <p style="color: #FFFFFF">{{ event.prix}}</p>
            <p style="color: #FFFFFF">{{ event.dateFin}}</p>
            <a class="btn" href="{{ path('Ajoute-reserve') }}">Réserver</a>
            <br>
            <a href="{{ path('qrcode' , {'id' : event.id}) }}" class="btn btn-primary">Generer Qr code</a>
            <br>
            <button class="btn btn-primary" id="checkout-button">Checkout</button>
        </div>
    </div>
    <script src="{{ asset('https://js.stripe.com/v3/')}}"></script>
    <script>
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe('pk_test_51ITrmKDemurknTpxNogaH6qwkkX1HK7bxuSwQU2CGyorqtm0u4sXCrbYFAsbFLTRv1tZPANLJCzSiKCxL40xQXi90040tZxsuX');
        var checkoutButton = document.getElementById('checkout-button');
        checkoutButton.addEventListener('click', function() {
            // Create a new Checkout Session using the server-side endpoint you
            // created in step 3.
            fetch('/fr/reservation/create-checkout-session', {
                method: 'POST',
            })
                .then(function(response) {
                    return response.json();
                })
                .then(function(session) {
                    return stripe.redirectToCheckout({ sessionId: session.id });
                })
                .then(function(result) {
                    // If `redirectToCheckout` fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using `error.message`.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function(error) {
                    console.error('Error:', error);
                });
        });
    </script>
{% endfor %}