<table id="evenement" class="table table-striped" border="1">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Lieux</th>
        <th>Date</th>
        <th>Type</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ event.Nom }}</td>
            <td>{{ event.Lieu }}</td>
            <td>{{ event.Date }}</td>
            <td>{{ event.Type }}</td>
            <td>{{ event.Description }}</td>

        </tr>
    </tbody>
</table>